@import "tailwindcss";

/* 🎨 Variáveis globais */
:root {
  --background: #ffffff;
  --foreground: #0a0a0a;

  --font-title: 'DM Serif Display', serif;
  --font-body: 'Poppins', sans-serif;

  --amarelo: #d1a144;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ffffff;
  }
}

/* 🔤 Tipografia base */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
  font-weight: 200;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-title);
  font-weight: 400;
}
